<section
  class="call-to-action-two -type-4"
  style="background-image: url(/static/images/background/1.jpg)"
>
  <div class="auto-container wow fadeInUp">
    <div class="sec-title light text-center">
      <h2>Poslovi Vaših Snova Vas Čekaju</h2>
      <div class="text text-white">
        Pridružite se hiljadama zadovoljnih korisnika koji su pronašli posao kroz našu platformu
      </div>
    </div>

    <div class="btn-box">
      <a href="/job-search" class="theme-btn btn-one">Pretraži Poslove</a>
    </div>
  </div>
</section>
