<section class="job-section">
  <div class="auto-container">
    <div class="sec-title text-center">
      <h2>Istaknuti Poslovi</h2>
      <div class="text">
        Znaj svoju vrijednost i pronađi posao koji kvalifikuje tvoj život
      </div>
    </div>

    <div class="row wow fadeInUp">
      <!-- Job Block -->
      {% for job in featured_jobs %}
      <div class="job-block col-lg-6 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="content">
            <span class="company-logo"><img src="{{ job.img }}" alt="" /></span>
            <h4><a href="{{job.url}}" target="_blank">{{job.title}}</a></h4>
            <ul class="job-info">
              <li>
                <span class="icon flaticon-briefcase"></span> {{job.company}}
              </li>
              <li>
                <span class="icon flaticon-map-locator"></span> {{job.location}}
              </li>
            </ul>
            <ul class="job-other-info">
              <li class="privacy">{{job.expires}}</li>
              <li class="required">{{job.source}}</li>
            </ul>
            <button class="bookmark-btn">
              <span class="flaticon-bookmark"></span>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
