<section class="jobseeker-section">
  <div class="outer-box">
    <div class="image-column">
      <figure class="image">
        <img
          src="{{url_for('static', path='images/resource/jobseeker.png')}}"
          alt=""
        />
      </figure>
    </div>
    <div class="content-column">
      <div class="inner-column wow fadeInUp">
        <div class="sec-title">
          <h2>Ja tražim posao</h2>
          <div class="text">
            Pronađite posao koji odgovara vašem životnom stilu. Naša platforma
            nudi raznovrsne prilike - od rada od kuće, skraćenog radnog vremena,
            do fleksibilnog rasporeda prilagođenog vašim potrebama.
          </div>
          <a href="/job-search" class="theme-btn btn-style-one">Pronađi posao</a>
        </div>
      </div>
    </div>
  </div>
</section>
