<section class="job-categories border-bottom-0">
  <div class="auto-container">
    <div class="d-flex align-items-center justify-content-between wow fadeInUp">
      <div class="sec-title">
        <h2>Popular Cities</h2>
        <div class="text">
          Know your worth and find the job that qualify your life
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div class="col-sm-6 col-md-4">
        <div class="border-1 p20 bdrs12 d-flex align-items-center mb30">
          <div class="thumb mr20">
            <img
              class="rounded-circle"
              src="images/index-22/home22-city-1.png"
              alt=""
            />
          </div>
          <div class="details">
            <h5 class="mb-0 fz18 fw500">Miami</h5>
            <p class="text">96 Jobs</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="border-1 p20 bdrs12 d-flex align-items-center mb30">
          <div class="thumb mr20">
            <img
              class="rounded-circle"
              src="images/index-22/home22-city-2.png"
              alt=""
            />
          </div>
          <div class="details">
            <h5 class="mb-0 fz18 fw500">Roma</h5>
            <p class="text">96 Jobs</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="border-1 p20 bdrs12 d-flex align-items-center mb30">
          <div class="thumb mr20">
            <img
              class="rounded-circle"
              src="images/index-22/home22-city-4.png"
              alt=""
            />
          </div>
          <div class="details">
            <h5 class="mb-0 fz18 fw500">London</h5>
            <p class="text">96 Jobs</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="border-1 p20 bdrs12 d-flex align-items-center mb30">
          <div class="thumb mr20">
            <img
              class="rounded-circle"
              src="images/index-22/home22-city-5.png"
              alt=""
            />
          </div>
          <div class="details">
            <h5 class="mb-0 fz18 fw500">Amsterdam</h5>
            <p class="text">96 Jobs</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="border-1 p20 bdrs12 d-flex align-items-center mb30">
          <div class="thumb mr20">
            <img
              class="rounded-circle"
              src="images/index-22/home22-city-6.png"
              alt=""
            />
          </div>
          <div class="details">
            <h5 class="mb-0 fz18 fw500">Berlin</h5>
            <p class="text">96 Jobs</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="border-1 p20 bdrs12 d-flex align-items-center mb30">
          <div class="thumb mr20">
            <img
              class="rounded-circle"
              src="images/index-22/home22-city-7.png"
              alt=""
            />
          </div>
          <div class="details">
            <h5 class="mb-0 fz18 fw500">Paris</h5>
            <p class="text">96 Jobs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
